@import 'tailwindcss';
@import "./tooltip.css";

@theme {
  --font-spline: Spline Sans Mono, monospace;
  
  --color-main: #16171d;
  --color-editor-parent: #292c37;
  --color-editor-content: #373a48;
  --color-subtle-bg: #1c1e26;
  --color-menu-bg: #2a2d39;
}

/*
The default border color has changed to `currentcolor` in Tailwind CSS v4,
so we've added these compatibility styles to make sure everything still
looks the same as it did with Tailwind CSS v3.

If we ever want to remove these styles, we need to add an explicit border
color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  font-family: "Inter";
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #16171d;
  border-left: 1px solid #2e313e;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e313e;
}

