@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter";
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #16171d;
  border-left: 1px solid #2e313e;
}

body::-webkit-scrollbar-thumb {
  background-color: #2e313e;
}
